modules = ["cpp"]

[nix]
channel = "stable-24_05"

[workflows]

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "C++ Library System"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "run_cpp_library"

[[workflows.workflow]]
name = "C++ Library System"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o library_system main.cpp && ./library_system"

[[workflows.workflow]]
name = "run_cpp_library"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lms main.cpp && ./lms"

[deployment]
run = ["sh", "-c", "g++ -o library_system main.cpp && ./library_system"]
